@use "tailwindcss";
@use "theme";

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

:is(.dark) {
  --sh-class: #4c97f8;
  --sh-identifier: #c9d1d9;
  --sh-sign: #8996a3;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
  --sh-comment: #8b949e;
  --sh-jsxliterals: #a5a3ff;
  --sh-property: #ff967d;
  --sh-entity: #ff967d;
}

// Navbar
/* Estilos para os itens de navegação */
// .nav-item {
//   position: relative;
  
//   &::after {
//     content: '';
//     position: absolute;
//     bottom: -2px;
//     left: 0;
//     width: 0;
//     height: 4px;
//     transition: width 0.3s ease;
//   }
  
//   &:hover::after {
//     width: 100%;
//   }
  
//   &.is-active::after {
//     width: 100%;
//   }
// }

.nav-item {
  position: relative;
  min-width: fit-content;
  
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
  }
  
  &:hover::after {
    width: 100%;
  }
  
  &.is-active::after {
    width: 100%;
  }
}

/* Cores para cada item */
.nav-item-blue-500::after {
  background-color: #3b82f6;
}

.nav-item-green-500::after {
  background-color: #22c55e;
}

.nav-item-purple-500::after {
  background-color: #a855f7;
}

.nav-item-red-500::after {
  background-color: #ef4444;
}

.nav-item-amber-500::after {
  background-color: #f59e0b;
}

body {
  @apply bg-neutral-50 dark:bg-neutral-900 text-neutral-800 dark:text-neutral-200 font-nunito;
}

input, textarea {
  @apply bg-neutral-100 dark:bg-[#111] text-neutral-800 dark:text-neutral-200 border-neutral-200 dark:border-neutral-700 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500;
}

h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

h2 {
  @apply text-xl font-medium tracking-tight;
}

h2:not(:first-child) {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

h5 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

h6 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

p {
  @apply my-3 text-neutral-800 dark:text-neutral-400;
}

// a:not(.anchor):not(.logo):not(.social a):not(.projetos):not(.btn):not(.inline-block) {
//   @apply no-underline 
//     text-neutral-800 
//     dark:text-neutral-400
//     decoration-neutral-400 
//     dark:decoration-neutral-600 
//     hover:underline
//     hover:decoration-indigo-500
//     underline-offset-2 
//     decoration-[0.18em]
//     duration-600
//     transition-all;
// }

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a:not(.btn) {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-100 dark:bg-[#111] p-4 rounded-md mb-3;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 0.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.image-logo {
  filter: blur(.10em) grayscale(100%);
  transition: filter 800ms ease-in-out;
}

.image-logo:hover {
  filter: blur(0) grayscale(0%);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
