@theme inline {
  // default
  --ponokai-black: #181a1c;
  --ponokai-bg_dim: #252630;
  --ponokai-bg0: #2b2d3a;
  --ponokai-bg1: #333648;
  --ponokai-bg2: #363a4e;
  --ponokai-bg3: #393e53;
  --ponokai-bg4: #3f445b;
  --ponokai-bg_red: #ffb3bd;
  --ponokai-diff_red: #a67f82;
  --ponokai-bg_green: #cbecb0;
  --ponokai-diff_green: #818f80;
  --ponokai-bg_blue: #b3e7f9;
  --ponokai-diff_blue: #808d9f;
  --ponokai-diff_yellow: #9c937a;
  --ponokai-fg: #f2f2f3;
  --ponokai-red: #ff8c9a;
  --ponokai-orange: #f3bb9a;
  --ponokai-yellow: #f8e7b0;
  --ponokai-green: #b4e49a;
  --ponokai-blue: #98d4e7;
  --ponokai-purple: #bdb2ff;
  --ponokai-grey: #c4c6cf;
  --ponokai-grey_dim: #9da1af;

  // Kitty
  --ponokai-kitty-black: #141020;
  --ponokai-kitty-bg_dim: #1a1823;
  --ponokai-kitty-bg0: #1e1d2f;
  --ponokai-kitty-bg1: #2d3648;
  --ponokai-kitty-bg2: #2f2d42;
  --ponokai-kitty-bg3: #575268;
  --ponokai-kitty-bg4: #6e6c7e;
  --ponokai-kitty-bg_red: #ffb3dd;
  --ponokai-kitty-diff_red: #a67fa2;
  --ponokai-kitty-bg_green: #cbeca0;
  --ponokai-kitty-diff_green: #818fa0;
  --ponokai-kitty-bg_blue: #b3e7ff;
  --ponokai-kitty-diff_blue: #808dff;
  --ponokai-kitty-diff_yellow: #9c939a;
  --ponokai-kitty-fg: #f8f8f9;
  --ponokai-kitty-red: #f18fad;
  --ponokai-kitty-orange: #f8bd96;
  --ponokai-kitty-yellow: #fae9b0;
  --ponokai-kitty-green: #b5e48c;
  --ponokai-kitty-blue: #a8daff;
  --ponokai-kitty-purple: #ddb5f2;
  --ponokai-kitty-grey: #b4b6cf;
  --ponokai-kitty-grey_dim: #8d91af;

  // kangaroo
  --ponokai-kangaroo-black: #3b3a47;
  --ponokai-kangaroo-bg_dim: #484859;
  --ponokai-kangaroo-bg0: #505060;
  --ponokai-kangaroo-bg1: #687080;
  --ponokai-kangaroo-bg2: #808890;
  --ponokai-kangaroo-bg3: #98a0b0;
  --ponokai-kangaroo-bg4: #b0b8c0;
  --ponokai-kangaroo-bg_red: #ffb3d9;
  --ponokai-kangaroo-diff_red: #d0a5a8;
  --ponokai-kangaroo-bg_green: #cbeca0;
  --ponokai-kangaroo-diff_green: #9dbfa0;
  --ponokai-kangaroo-bg_blue: #c7e3f0;
  --ponokai-kangaroo-diff_blue: #b0a8d9;
  --ponokai-kangaroo-diff_yellow: #d8c49a;
  --ponokai-kangaroo-fg: #f8f8f9;
  --ponokai-kangaroo-red: #ff9999;
  --ponokai-kangaroo-orange: #f8cbb3;
  --ponokai-kangaroo-yellow: #f8e3b6;
  --ponokai-kangaroo-green: #a5d6a7;
  --ponokai-kangaroo-blue: #b3d9e3;
  --ponokai-kangaroo-purple: #c6b3e3;
  --ponokai-kangaroo-grey: #c0c0c7;
  --ponokai-kangaroo-grey_dim: #b8b8c7;

  // vampire
  --ponokai-vampire-black: #3b3a47;
  --ponokai-vampire-bg_dim: #423f4e;
  --ponokai-vampire-bg0: #5c5e71;
  --ponokai-vampire-bg1: #7a7d8f;
  --ponokai-vampire-bg2: #888999;
  --ponokai-vampire-bg3: #9697a3;
  --ponokai-vampire-bg4: #a4a5ad;
  --ponokai-vampire-bg_red: #ffb3d9;
  --ponokai-vampire-diff_red: #c4a8c4;
  --ponokai-vampire-bg_green: #e0f2b6;
  --ponokai-vampire-diff_green: #a0afbf;
  --ponokai-vampire-bg_blue: #d1f4ff;
  --ponokai-vampire-diff_blue: #a3afff;
  --ponokai-vampire-diff_yellow: #cdc2ca;
  --ponokai-vampire-fg: #ffffff;
  --ponokai-vampire-red: #ff9999;
  --ponokai-vampire-orange: #ffd1a3;
  --ponokai-vampire-yellow: #f7fabf;
  --ponokai-vampire-green: #99fab7;
  --ponokai-vampire-blue: #b3f4ff;
  --ponokai-vampire-purple: #d9b3f9;
  --ponokai-vampire-grey: #d0d1e0;
  --ponokai-vampire-grey_dim: #b6b8d1;
}
